@charset "UTF-8";

/***** Overrides  *****/
#main-content {
    background: #fff;}
.nav__item.logo img {
    /*width: 132px;*/
}
.content-block .module-body {
    font-size: 15px;}
.landing-content.active {
    min-height: 0;}
.module-body > p {
    margin: 15px 0;}
.additional-items .claims-link {
    padding-bottom: 0;
    padding-top: 5px;}
.content-block .module-body {
    color: #4a4a4a;
    font-family: "Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    font-size: 15px;
    line-height: 25px;}
/***** End of Overrides  *****/

/***** New CSS  *****/
.grid-data:nth-child(2n+1) {
    background-color: #f9f9f9;}

.account-file {
    padding: 5px 20px 0;}
.page-title-area {
    padding-bottom: 15px;}
.page-title-area h2 {
    color: #6c6b6b;
    font-size: 19px;
    margin-bottom: 0;
    text-transform: uppercase;}
.page-title-area > div {
    font-family: arial;
    font-size: 15px;}
.page-title-area span {
    font-weight: bold;}
.landing-main.float-options-left {
    margin-left: 225px;}
.fixed-left-content {
    left: 13px;
    position: absolute;
    top: 107px;
    width: 210px;}
.grid-title {
    color: #0073b7;
    font-family: arial;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;}
.ca, .data-headers th.ca {
    text-align: center;}
.data label {
    display: inline-block;
    font-weight: 600;
    width: 125px;}
#contacts-grid-items {
    height: 240px;
    overflow-y: auto;}
/*** ICONS!! **/
.icon-contact-small {
	background: url('../images/wmu-sprites.png') no-repeat 0 0;
	width: 26px;
	height: 29px;}
.icon-user-large {
	background: url('../images/wmu-sprites.png') no-repeat -39px -1px;
	width: 46px;
	height: 46px;
    vertical-align: middle;}
.icon-screen-large {
	background: url('../images/wmu-sprites.png') no-repeat -97px -1px;
	width: 40px;
	height: 40px;
    vertical-align: middle;}
.grid-arrow {
	background: url('../images/wmu-sprites.png') no-repeat -169px -3px;
	width: 20px;
	height: 30px;
    margin: 0 10px;
    vertical-align: middle;}
.active .grid-arrow {
    background: url('../images/wmu-sprites.png') no-repeat -160px -41px;
	width: 30px;
	height: 20px;
    margin: 0 10px;
    vertical-align: middle;}
.page-body-wrap {
    background: #fff;
    border-radius: 4px;
    position: relative;
    padding: 1.3% 1% 3%;}
/* make this available in the wiki */
._module {
    background: #ffffff;
    border-radius: 2px;
    margin-bottom: 15px;}
._module .header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 6px 10px;}
._module .body {
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px;}
._module ul {
    list-style: outside none none;
    margin: 0;}
._module li {
    padding: 4px 0;}
/* different colors for the module */
._module.flat-gray {
    border: 1px solid #eaeaea;}
._module.flat-gray .header {
    background-color: #eaeaea;
    color: #627C84;}
._module.light-gray {
    border: 1px solid #e2e7e9;}
._module.light-gray .header {
    background-color: #0073B7;
    color: #fff}
._module.blue{
    border: 1px solid #0065A4;}
._module.blue .header {
    background-color: #0065A4;
    color: #fff;}
._module.gradiant-blue{
    border: 1px solid #2c6288;}
._module.gradiant-blue .header {
    background: -moz-linear-gradient(center top , #2c6288, #4186b6) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;}
._module.blue-gray {
    border: 1px solid #e2e7e9;}
._module.blue-gray .header {
    color: #7d7676;
    font-weight: 600;}
.large .header {
    padding: 22px 10px;}
.large .header > a {
    color: #365576;}
/** isolate this code to be reused in other data grids */
.data-grid {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 2px;}
.data-headers {
    background: #f2f9ff;
    border-radius: 1px;
    clear: both;
    overflow: hidden;
    padding: 12px 5px 12px 15px;}
.data-headers table {
	table-layout: fixed;
    width: 100%;
    margin: 0;}
/* default value for all table headers 
is 15%, see below for more options */
.data-headers th {
    color: #585858;
    font-family: arial;
    font-size: 14px;
    text-align: left;
    width: 15%;}
.grid-data {
	border-top: 1px solid #ddd;
    font-size: 15px;
    padding: 5px 0 4px 18px;
	-webkit-animation: myanim 1s;
	-moz-animation: myanim 1s;
	-o-animation: myanim 1s;
	animation: myanim 1s;
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;}

.grid-data td {
    padding-right: 3px;
    /*vertical-align: top;  */
    color: #686161;
    width: 15%;}
.data-headers th._3, .grid-data td._3 {
    width: 3%;}
.data-headers th._5, .grid-data td._5 {
    width: 5%;}
.data-headers th._10, .grid-data td._10 {
    width: 10%;}
.data-headers th._15, .grid-data td._15 {
    width: 15%;}
.data-headers th._20, .grid-data td._20 {
    width: 20%;}
.data-headers th._25, .grid-data td._25 {
    width: 25%;}
.data-headers th._30, .grid-data td._30 {
    width: 30%;}
.data-headers th._35, .grid-data td._35 {
    width: 35%;}
.data-headers th._40, .grid-data td._40 {
    width: 40%;}
.data-headers th._42, .grid-data td._42 {
    width: 42%;}
.data-headers th._50, .grid-data td._50 {
    width: 50%;}
.data-headers th._60, .grid-data td._60 {
    width: 60%;}
.data-headers th._70, .grid-data td._70 {
    width: 70%;}
.data-headers th._80, .grid-data td._80 {
    width: 80%;}
.data-headers th a {
    background-image: url("../images/sort-icon.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #585858;
    font-family: arial;
    font-size: 16px;
    padding: 3px 17px 3px 3px;}
.data-headers th a.sort-arrows-descending {
	background-image: url("../images/sort-icon-descending.png");}
.data-headers th a.sort-arrows-ascending {
    background-image: url("../images/sort-icon-ascending.png");}
.responsive-table > table {
	table-layout: fixed;
    margin-bottom: 0;
    width: 100%;}
/* end of grid code */

/* buttons */
a.common-button {
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    background: #0582B7;
    background: -moz-linear-gradient(top,#0582B7 0,#0478AF 29%,#025C98 85%,#035995 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0582B7),color-stop(29%,#0478AF),color-stop(85%,#025C98),color-stop(100%,#035995));
    background: -webkit-linear-gradient(top,#0582B7 0,#0478AF 29%,#025C98 85%,#035995 100%);
    background: -o-linear-gradient(top,#0582B7 0,#0478AF 29%,#025C98 85%,#035995 100%);
    background: -ms-linear-gradient(top,#0582B7 0,#0478AF 29%,#025C98 85%,#035995 100%);
    background: linear-gradient(to bottom,#0582B7 0,#0478AF 29%,#025C98 85%,#035995 100%);
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.35) inset;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 10px;}
.search-again-container {
    margin-top: 20px;}
.email-widget {
    border: 1px solid #dddddd;
    border-radius: 1px;
    margin-top: 18px;
    padding: 5px;}
.email-widget .content {
    font-family: arial;
    padding: 1%;}
#products-contacts-results #contacts-grid-items {
    height: auto;}
#cb-emp-search input {
    border: 1px solid #dddddd;
    color: #706f6f;
    margin-right: 4px;
    padding: 4px 3px;
    width: 150px;}
.email-widget .field-input {
    border: 1px solid #dddddd;
    color: #706f6f;
    margin-right: 4px;
    padding: 4px 3px;
    width: 62%;}
#cb-emp-search .common-button, #email-addres-and-button .common-button,
#btn-search.common-button {
    margin-left: 3px;
    padding: 4px 14px;}
 #btn-PASsearch.common-button {
    margin-left: 3px;
    padding: 4px 14px;}

#book-of-bus-data, #non-chubb-emp-msg,
#cb-emp-search, #products-contacts-results,
#update-profile-query, #email-msg-area,
#book-of-bus-PAS-data, #cb-emp-pas-search {
    display: none;}
#book-of-bus-data.active, #non-chubb-emp-msg.active,
#cb-emp-search.active, #products-contacts-results.active,
#update-profile-query.active, #email-msg-area.active,
#cb-emp-pas-search.active,#book-of-bus-PAS-data.active {
    display: block;}
#contact-chubb-modules ._module h2 {
    color: #df7120;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 3px;}
#search-by-product-area select {
    color: #706f6f;
    margin-bottom: 12px;
    min-width: 200px;
    padding: 4px 3px;}
#contact-chubb-modules ._module .body {
    display: none;}
#contact-chubb-modules ._module.active .body {
    display: block;}

#email-msg-area ul {
	background: #ddffde;
	border: 1px solid #ddd1d1;
    border-radius: 4px;
    margin-left: 46%;
    padding: 5px 15px;
    width: 50%;}
#email-mgs > li {
    list-style: none;
    margin-left: 12px;}
.ar {
    text-align: right;}
.icon-search-again {
	background: url('../images/sprites-s4255ca54c8.png') no-repeat 0 -568px;
	width: 16px;
	height: 16px;
    vertical-align: middle;
    margin-right: 3px;}
.link-search-again {
	text-decoration: underline;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    margin-top: 7px;
    padding: 3px 7px;}
#select-an-account-section, #account-detail-section, 
#search-again-block, #new-search-area,#search-again-block-b, #new-search-area-b,
#no-results-section {
    display: none;}
#select-an-account-section.active, #account-detail-section.active,
#search-again-block.active, #new-search-area.active,
#search-again-block-b.active, #new-search-area-b.active,
#no-results-section.active {
    display: block;}

.select-search-options, .user-search-input {
    border: 1px solid #b8b8b8;
    color: #5a5757;
    font-size: 13px;
    padding: 4px;
    width: 200px;}
._module.large.active .header {
    border-bottom: 1px solid #d9d9d9;}
._module.large .body {
    padding: 20px;}
#no-results-section {
    padding: 1% 3%;}
a.common-button.smaller {
    margin-left: 3px;
    padding: 4px 14px;}
#solutions-list {
    display: none;}
#solutions-list.active {
    display: block;}
#system-messages {
    background: none;
    color: #f24545;
    font-size: 16px;
    font-family : arial;
    padding: 15px 10px 0;
    margin: 0;}
#pol-summary-title {
    margin-left: 10px;
    /*margin-top: 20px;*/}
#pol-grid-wrapper {
    border: 1px solid #dddddd;
    border-radius: 3px;}
#non-chubb-emp-msg, #cb-emp-search {
    margin-bottom: 10px;}
#update-profile-query.active {
    color: #615e5e;
    margin-top: 3px;}
#link-select-diff-acct {
	display: none;
    font-family: arial;
    font-size: 15px;
    margin: 0 0 0 10px;}
#select_branch_tip_icon > img {
    margin-bottom: 5px;}
.data-grid-area {
    margin: 9px;}
.grid-description {
    color: #5c5c57;
    font-family: arial;
    font-weight: normal;
    padding: 10px 0 5px;}
/***** End of New CSS  *****/

/** possible corporate new items ****/

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 150%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.3;
	opacity:.30;
	filter: alpha(opacity=30);}
#notice-block {
    font-family: arial;
    font-size: 15px;
    padding: 2% 3%;
    background: #fff;
    border: 8px solid #7d7c7c;
    border-radius: 8px;
    visibility : hidden;
    position: fixed;
    width: 35%;
    z-index: 1006;}
#notice-block h2 {
    font-size: 18px;
    text-align: center;}
#box-message img {
    margin-right: 10px;
    vertical-align: middle;}
#policy-grid-items{
	animation: 2s ease 0s normal none 2 running myanim;
	transition: height 0.6s ease-out 1s;}  
.book-of-biz .page-title-area {
    margin-top: 15px;} 
#non-chubb-emp-msg {
    margin-bottom: 10px;}
._module .body > div {
    word-wrap: break-word;}
#searchErrorList-c {
    color: #c20000;
    display: none;
    font-size: 14px;
    margin: 0 0 15px 5px;}
#searchErrorList-c.active {
    display: block;}
.responsive-table td, #account-name, #account-mailingAddress, #contacts-grid-items td {
    text-transform: capitalize;}   
.login-modal-state.contacts {
    font-family: arial;
    font-size: 14px;}
#contact-message-area {
	display : none;
	margin-bottom: 35px;}
.grid.contact-pol-details {
    margin-bottom: 10px;}
#contact-chubb-modules .header span {
    font-size: 17px;}
#products-contacts-results.active .data-grid-area {
    margin-top: 5px;}
.responsive-table td.email, #contacts-grid-items td.email {
    text-transform: none;}
.icon-acct-overview-title {
    margin: -1px 5px 0 0;
    vertical-align: middle;}
#products-contacts-message-container{
	display : none;
	margin-top: 10px;}
#products-contacts-message-container.active{
	display : block;}
#select-account-message-area {
	display : none;}
#select-account-message-area div {
   /* font-family: arial; */
    padding-left: 26px;}
.message-area .acct-name-highlighted {
    font-weight: 600;
    margin: 0;
    padding: 0 2px;
    text-transform: capitalize;}
#addl-pol-grid-holder {
    display: none;}
.grid-description {
    font-size: 18px;}
/*************************************/
/* Additional Responsive Code  */
@media (max-width: 767px) {
.account-file {
        padding: 3%;}
a.common-button {
    width: 95%;}
.page-title-area h2 {
    color: #555353;
    font-family: arial;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 11px;
    text-transform: uppercase;}  
.fixed-left-content {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;}
.landing-main.float-options-left {
    margin-left: 1%;}
#cb-emp-search > input {
    margin-bottom: 12px;
    width: 98%;}    
#search-by-product-area select {
    padding: 5px;
    width: 96%;}
#cb-emp-search .common-button, #email-addres-and-button .common-button {
    margin-left: 0;
    padding: 6px 14px;}
#search-by-product-area {
    margin-bottom: 15px;}
.email-widget .field-input {
    margin-bottom: 7px;
    width: 100%;}
       
.grid-data {
    background-color: #f9f9f9;
    border: 1px solid #e2e7e9;
    border-radius: 1px;
    font-family: arial;
    font-size: 15px;
    margin-bottom: 18px;
    padding: 7px 0 1px 5px;}
h2.grid-title {
    display: block;
    font-family: arial;
    font-weight: 500;
    line-height: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;}
.page-title-area {
    padding-bottom: 7px;}

    /*grid code*/
.data-grid {
    background: none;
    border: none;
    padding: 0;}
    /* Force table to not be like tables anymore */
.responsive-table table,
.responsive-table thead,
.responsive-table tbody,
.responsive-table th,
.responsive-table td,
.responsive-table tr {
    display: block;
}
/* Hide table headers (but not display: none;, for accessibility) */
.responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;}
 
.responsive-table tr { 
    /*border: 1px solid #ccc; */}
.responsive-table tr + tr {
    border-top: medium none;}
 
.responsive-table td {
    /* Behave like a "row" */
    border: none;
    /*border-bottom: 1px solid #fff;*/
    position: relative;
    padding-left: 35%;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 14px;
    white-space: normal;
    text-align:left;}
 
.responsive-table td:before {
    color: #474747;
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 30%;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-top: 3px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;}
 
    /* Label the data */
    .responsive-table td:before { content: attr(data-title); }

    .data-headers {
        display: none;}
    .grid-data a {
        padding: 4px 0;}
    .grid-data td, .grid-data td._10, .grid-data td._15, .grid-data td._20,
    .grid-data td._25, .grid-data td._30, .grid-data td._35, .grid-data td._40,
    .grid-data td._45, .grid-data td._50, .grid-data td._60, .grid-data td._70{
        width: 65%;}
    .responsive-table td::after {
	    color: #f9f9f9;
	    content: ".";}
	 #pol-grid-wrapper {
	    border: medium none;
	    margin: 0;}
 
 #email-msg-area ul {
	width: 65%;
    margin: 10px 0 0 0;}
#producers-grid-items .responsive-table td {
    padding-left: 50%;}
#pas-grid-items .responsive-table td {
    padding-left: 50%;}
#notice-block {
    width: 80%;}
#system-messages::after {
    background: none;}
#producers-grid-items .data-headers th._42, #producers-grid-items .grid-data td._42, #producers-grid-items .data-headers th._35, #producers-grid-items .grid-data td._35 {
    width: 47%;
    word-wrap: break-word;}
.grid-arrow {
    position: absolute;}
#pas-grid-items .data-headers th._42, #pas-grid-items .grid-data td._42, #pas-grid-items .data-headers th._35, #pas-grid-items .grid-data td._35 {
    width: 47%;
    word-wrap: break-word;}
.grid-arrow {
    position: absolute;}  
#contact-book-of-business-mod .header span, #contact-for-product-mod .header span {
    display: inline-block;
    padding-left: 61px;} 
.select-search-options, .user-search-input {
    margin: 4px 0;
    width: 97%;}
a.common-button.smaller {
    margin: 10px 0}
.contact-mobile-wrapper #contacts-grid-items {
    height: 100%;
    width: 100%;}
.contact-mobile-wrapper {
    padding: 2%;}
#link-select-diff-acct {
    margin: 0 0 10px 10px;}
h2.grid-title {
    margin-top: 27px;}
#policy-grid-items .responsive-table td {
	padding-left: 38%;}
#policy-grid-items .grid-data td._10, 
#policy-grid-items .grid-data td._20, 
#policy-grid-items .grid-data td._25 {
    width: 60%;}
#update-profile-query.active {
    margin-top: 20px;}
.responsive-table td {
    text-transform: uppercase;
    font-size : 14px;} 

}
/* End of Additional Responsive Code  */ 

/* Rebranding CSS Changes */
.account-file, .page-body-wrap{
	padding:0;
}
#no-results-section {
    padding: 1% 0%;
}
.icon-acct-overview-title {
	display:none;
}
.page-title-area {
	padding-bottom: 25px;
}
.select-search-options, .user-search-input {
	padding:6px;
}
.select-search-options {
	margin-right:12px;
}
a.common-button.smaller {
    margin-left: 5px;
    padding: 6px 20px;
}
a.common-button {
	background: #6e27c5;
	border-radius:0px;
	box-shadow: none;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	font-weight: normal;
}
.icon-search-again {
	display:none;
}
.link-search-again {
	text-decoration:none;
    display: inline-block;
    font-family: "Chubb Publico Web Light", "Georgia";
	font-size: 16px;
    color: #208fba;
    border: 1px solid #208fba;
    padding: 6px 20px;
}
.data-grid {
	border:none;
	border-radius:0px;
}
.data-headers {
    background: #F0F0F0;
    border-radius: 0px;
}
.data-headers th a, .data-headers th {
	color:#000;
	font-family: "Chubb Publico Web Light", "Georgia";
}
.grid-data {
	border-top:none;
	font-family: "Chubb Publico Web Light", "Georgia";
}
.grid-data a {
	color:#208fba;
	font-size: 16px;
}
.grid-data td {
	color:#333;
}
.page-title-area h2 {
	color:#000;
	font-family: "Chubb Publico Web Light", "Georgia";
}
.landing-main.float-options-left {
	margin-left: 240px;
}
._module .header {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #000;
	font-size: 16px;
    font-family: "Chubb Publico Web Light", "Georgia";
	border-top: 4px solid #150F95;
}
._module.light-gray {
	border:1px solid #dddddd;
}
._module.light-gray .header {
	background-color: #f0f0f0;
    color: #000;
    font-weight:bold;
}
._module .body {
	font-family: "Chubb Publico Web Light", "Georgia";
	font-size:15px;	
}
.grid-title {
    color: #000;
    font-family: "Chubb Publico Web Light", "Georgia";
}
#pol-summary-title {
	border-bottom:2px solid #01C1D6;
	padding-bottom:2px;
}
#link-select-diff-acct {
	font-family: "Chubb Publico Web Light", "Georgia";
	color: #208fba;
}
#pol-grid-wrapper {
	border:none;
	border-radius:0px;
}
.login-modal-state.contacts {
	font-family: "Chubb Publico Web Light", "Georgia";
	font-size:15px;
}
#system-messages {
	font-family: "Chubb Publico Web Light", "Georgia";
	font-size:15px;
	padding: 15px 0px 0;
}
#assigned-solutions a {
    font-size: 16px;
    font-weight: normal;
}
    
    
/*Rebranding CSS Media Queries */
@media (max-width: 767px) {
	.landing-main.float-options-left {
		margin-left:0px;
	}
	h2.grid-title {
		font-family: "Chubb Publico Web Light", "Georgia";
	}
	.grid-data {
		border-top:1px solid #e2e7e9;
	}
	#pol-summary-title {
		margin-left:0px;
	}
	.data-grid-area {
 	   margin: 9px 0px;
 	}
	#policy-grid-items .responsive-table td {
		padding-left: 42%;
	}
	#pol-summary-title {
		padding-bottom:10px;
	}
	a.common-button {
		width:100%;
	}
	.select-search-options {
		margin-right:0px;
	}
	.select-search-options, .user-search-input {
		padding:8px;
	}
	.select-search-options, .user-search-input {
		margin: 6px 0;
		width: 93%;
	}
	.ar {
		margin-bottom:10px;
	}
	a.common-button.smaller {
		margin-left:2px;
	}
}

@media(min-width: 768px) and (max-width: 1023px) {
	.select-search-options, .user-search-input {
		width:115px;
	}
	.select-search-options {
		padding:6px;
	}
	.user-search-input {
		padding:7px;
	}
	a.common-button.smaller {
		padding: 6px 20px;
	}
}    